.background {
    /* background-image: url(./../home/assets/img/servicesResponsive.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.background > div {
    width: 40%;
    padding: 20px;
}


.services_container {
    height: 100%;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}


.services_parent_overflow_container {
    height: calc(100% - 37px);
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.services_item {
    width: 180px;
    height: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2f2727 74%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(119, 93, 93, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(119, 93, 93, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(119, 93, 93, 0.75);
}

.services_item > button {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: white !important;
    font-size: 14px;
}

.form_container input,
.form_container textarea {
    background: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2f2727 74%);
    resize: none;
    border: 1px solid rgba(119, 93, 93, 0.75);
}


@media screen and (max-width: 767px) {
    .background {
        height: 1000px;
        align-items: center;
        flex-direction: column;
        background-image: url(./../home/assets/img/servicesResponsive.png);
        padding: 10px;
    }

    .background > div {
        width: 100% !important;
        height: 50%;
        padding: 0;
    }

    .services_container {
        width: 100%;
        height: 100%;
    }

    .services_item {
        width: 200px;
        height: 150px;
    }
}