.team_container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 135px;
}

.team_member_container {
    background: #F9F9F9;
    box-shadow: 0px 4px 10px rgba(215, 215, 215, 0.25), 4px 0px 4px rgba(215, 215, 215, 0.25);
    width: 346px;
    height:577px;
    margin: 10px;
    padding:10px;
}

.team_member_container > h2 {
    font-size: 28px;
    line-height: 33px;
    color: #171717;
    font-weight: 400;
    margin-bottom: 16.84px;
    margin-top: 37px;
}


.team_member_container > p {
    font-size: 15px;
    line-height: 26px;
    color: #878787;
    font-weight: 400;
    width: 320px;
    margin-bottom: 0;
}

